@import "flex-grid";

body {
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  font-weight: 100;
}

h1, h2 {
  width: 100%;
}

.content {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.loaded {
  opacity: 1;
}

.text-center {
  text-align: center; 
}

.login-wrapper {
  text-align: center;
}